/* Add here all your CSS customizations */
.container {
    max-width: 1440px !important;
}

.footer-bg {
    background: url(../img/footer-bg.png) no-repeat right bottom #f6f8fe !important;
    background-size: 36% !important;
}

.tparrows {
    display: none !important;
}

h2.font-weight-bold {
    color: #1370b6 !important;
    font-weight: 600 !important;
    font-size: 2.5rem;
}

h3.font-weight-bold {
    color: #1370b6 !important;
    font-weight: 500 !important;
    font-size: 2rem;
}

.col-half-section p {
    color: #222d39 !important;
    font-weight: 400 !important;
    font-size: 0.9rem;
    line-height: 1.5;
}

.lead {
    line-height: normal;
    color: #222d39;
    font-weight: 400;
}

.WeareProud h2.font-weight-bold {
    color: #222d39 !important;
    font-weight: 600 !important;
    font-size: 2rem;
}

.WeareProud .lead {
    font-size: 1.15em;
}

.counters strong {
    font-weight: 600;
    font-size: 4.692308em;
    color: #c32b48;
    margin-bottom: 0.6rem;
}

.counters label {
    font-weight: 600 !important;
    font-size: 1.8em;
    line-height: 1;
}

.social-icons.social-icons-transparent li a {
    color: #c22c49;
    background: #fff;
}

footer .icon-box-info-title h3 {
    color: #222d39 !important;
    font-size: 1.4rem !important;
}

.icon-box .icon-box-icon object:not([width]),
.icon-box .icon-box-icon img:not([width]) {
    height: 80px;
    width: auto;
}

.icon-box .icon-box-icon.align-content-end object:not([width]),
.icon-box .icon-box-icon.align-content-end img:not([width]) {
    height: 150px;
    width: auto;
}

.services-img-1 {
    background: url(../img/Services/service-img1.png) no-repeat left center;
    background-size: contain;
}

.services-img-2 {
    background: url(../img/Services/service-img2.png) no-repeat left center;
    background-size: contain;
}

.p-10 {
    padding: 10rem 0 !important;
}

.section-background p {
    line-height: 1.2rem !important;
}

.section-background a.btn-tertiary {
    padding: 12px 50px !important;
}

.call-to-action h2 {
    font-size: 2.1em;
    font-weight: 600 !important;
    letter-spacing: 0.2px;
}

.slider-container .tp-caption.text-center {
    letter-spacing: 1px !important;
}


.home-download-section {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 50px 120px;
    border-radius: 12px;
    width: 100%;
    position: relative;
}

.owl-carousel .owl-item div {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px !important;
    margin: 0 2px 0 40px;
    padding: 15px 15px 10px 15px;
    text-align: center;
}

.owl-carousel .owl-item img {
    text-align: center;
    width: auto !important;
    height: 60px !important;
    display: inline-block;
}

.owl-carousel .owl-item p {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0;
    margin: 12px 0 0 0;
}

.home-language {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 70px;
    height: 47px;
    margin: 0 auto 30px auto;
    width: 100%;
    max-width: 400px;
    display: block;
}

    .home-language a,
    .home-Examination-type a,
    .home-language a:active,
    .home-Examination-type a:active,
    .home-language a:hover,
    .home-Examination-type a:hover {
        display: inline-block;
        width: 32.5%;
        font-size: 13px;
        color: #fff !important;
        font-weight: 300 !important;
        letter-spacing: 1.1px;
        height: 47px;
        margin: 0;
        text-align: center;
        line-height: 47px;
        transition: background, 0.2s;
    }

        .home-language a.active:nth-child(1) {
            background-color: #1370b6;
            border-bottom-left-radius: 70px;
            border-top-left-radius: 70px;
            color: #fff !important;
        }

        .home-language a.active:nth-child(2) {
            background-color: #1370b6;
            color: #fff !important;
        }

        .home-language a.active:nth-child(3) {
            background-color: #1370b6;
            border-bottom-right-radius: 70px;
            border-top-right-radius: 70px;
            color: #fff !important;
        }

.home-Examination-type {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 70px;
    height: 47px;
    margin: 0 auto 30px auto;
    width: 100%;
    max-width: 550px;
    display: block;
}

    .home-Examination-type a {
        width: 49.8% !important;
    }

        .home-Examination-type a.active:nth-child(1) {
            background-color: #1370b6;
            border-bottom-left-radius: 70px;
            border-top-left-radius: 70px;
        }

        .home-Examination-type a.active:nth-child(2) {
            background-color: #1370b6;
            border-bottom-right-radius: 70px;
            border-top-right-radius: 70px;
        }

.disapamock-person {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: -198px;
}

    .disapamock-person img {
        width: auto !important;
        height: 240px !important;
    }

#services .icon-box-style-5 h4,
.order-md-1 .icon-box-style-7 h4 {
    font-weight: 600;
    letter-spacing: 0.2px;
    font-size: 1.2rem;
}

#services .icon-box-style-5 p,
.order-md-1 .icon-box-style-7 p {
    line-height: 1.2rem;
    color: #222d39;
    font-size: 0.9rem;
}

.icon-box-style-7-ico img {
    height: 70px;
    padding-right: 20px;
}

.download-subjects-list {
    max-width: 1040px;
    margin: auto;
    transition: background, 0.4s;
}

    .download-subjects-list .download-item {
        background-color: #fff;
        padding: 15px;
        text-align: center;
        display: block;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.5px;
        margin: 0 0 25px 0;
        box-shadow: 0 1px 10px 1px rgba(67, 157, 231, 0.11);
        color: #717171;
        border-radius: 6px;
    }

        .download-subjects-list .download-item img {
            display: block;
            height: 60px;
            text-align: center;
            max-width: 100px;
            margin: 0 auto 10px auto;
        }

.paper-download .home-language {
    background-color: #fff;
    border: 2px solid #1370b6;
    max-width: 605px;
    white-space: nowrap;
}

    .paper-download .home-language a {
        color: #196fb6 !important;
        width: 33.6%;
        padding: 0;
        margin: 0;
        height: 43px;
        line-height: 43px;
        margin-right: -5px;
        font-weight: 400 !important;
        transition: background, 0.2s;
    }

        .paper-download .home-language a:nth-child(2) {
            border-left: 2px solid #196fb6;
            border-right: 2px solid #196fb6;
        }

        .paper-download .home-language a:nth-child(1) {
            position: relative;
            left: -1px;
        }

        .paper-download .home-language a.active:nth-child(1) {
            background-color: #1370b6;
            border-bottom-left-radius: 70px;
            border-top-left-radius: 70px;
            position: relative;
            left: -1px;
            height: 43px;
        }

        .paper-download .home-language a.active:nth-child(2) {
            background-color: #1370b6;
            height: 43px;
        }

        .paper-download .home-language a.active:nth-child(3) {
            background-color: #1370b6;
            border-bottom-right-radius: 70px;
            border-top-right-radius: 70px;
            height: 43px;
        }

        .paper-download .home-language a:hover:nth-child(1) {
            background-color: #1370b6 !important;
            color: #ffffff !important;
            border-bottom-left-radius: 70px;
            border-top-left-radius: 70px;
        }

        .paper-download .home-language a:hover:nth-child(2) {
            background-color: #1370b6 !important;
            color: #ffffff !important;
        }

        .paper-download .home-language a:hover:nth-child(3) {
            background-color: #1370b6 !important;
            color: #ffffff !important;
            border-bottom-right-radius: 70px;
            border-top-right-radius: 70px;
        }


.paper-download .home-Examination-type {
    max-width: 635px;
    background-color: transparent;
    /*display: flex;*/
    height: auto;
    margin: 0 auto 15px auto;
}

    .paper-download .home-Examination-type .col-sm-6 {
        margin-bottom: 15px;
    }

    .paper-download .home-Examination-type a {
        width: 100% !important;
        border-radius: 6px !important;
        background-color: #fff;
        color: #717171 !important;
        font-weight: 500 !important;
        letter-spacing: 0.5px;
        box-shadow: 0 1px 10px 1px rgba(67, 157, 231, 0.11);
        height: auto;
        padding: 15px 15px 0 15px;
        transition: background, 0.4s;
    }

        .paper-download .home-Examination-type a.active {
            color: #fff !important;
        }


.home-Examination-type .col-sm-6:nth-child(1) p {
    padding: 0px;
    margin: 0px;
    background: url(../img/download/Ordinary-Level-ico.png) no-repeat center top;
    height: 60px;
    background-size: 60px !important;
}

.home-Examination-type .col-sm-6:nth-child(1) .active p {
    background: url(../img/download/Ordinary-Level-ico-selected.png) no-repeat center top;
}

.home-Examination-type .col-sm-6:nth-child(2) p {
    padding: 0px;
    margin: 0px;
    background: url(../img/download/Advanced-Level-ico.png) no-repeat center top;
    height: 60px;
    background-size: 60px !important;
}

.home-Examination-type .col-sm-6:nth-child(2) .active p {
    padding: 0px;
    margin: 0px;
    background: url(../img/download/Advanced-Level-ico-selected.png) no-repeat center top;
}


.download-subjects-list .download-item.active {
    background-color: #1370b6;
    color: #fff !important;
    font-weight: 400;
}


.pastpaper-container .pastpaper-list {
    border-bottom: 1px solid #dde1eb;
    padding: 0 15px 20px 15px;
    margin-bottom: 15px;
}

    .pastpaper-container .pastpaper-list p {
        margin: 0;
        padding: 0 0 3px 0;
        color: #1370b6;
        font-weight: 500;
        font-size: 0.9rem;
        letter-spacing: 0.3px;
    }

    .pastpaper-container .pastpaper-list a {
        padding: 2px 12px;
        letter-spacing: 0.3px;
        margin: 0 10px 0 0 !important;
    }


#header .header-btn-collapse-nav .hamburguer span,
#header .header-btn-collapse-nav .close span {
    background: #fff;
}

.sticky-header-active #header .header-btn-collapse-nav .hamburguer span,
.sticky-header-active #header #header .header-btn-collapse-nav .close span {
    background: #1c1f21;
}

.mobile-show {
    display: none !important;
}



/*Register page*/
.height100vh {
    height: 100vh
}

.wr-registerForm {
    width: 100%;
    max-width: 90%;
    margin: auto;
}

.registerForm-as li {
    letter-spacing: 0.5px !important;
}

.registerForm-as a {
    letter-spacing: 0.5px !important;
    margin-right: 30px;
    padding: 0 50px 5px 20px !important;
}

    .registerForm-as a h3 {
        letter-spacing: 0.8px !important;
        font-weight: 500;
        color: #4d4d4d;
        font-size: 1.4rem;
    }

    .registerForm-as a h6 {
        letter-spacing: 1px !important;
        color: #8d8d8d;
        margin: 0 0 0px 0;
        font-size: 0.7rem;
        font-weight: 400;
    }

.wr-registerForm .form-control {
    background-color: #fff !important;
    border: 1px solid #e9e9e9 !important;
    padding: 12px 0 12px 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.wr-registerForm .text-color-dark {
    padding: 0;
    margin: 0;
    letter-spacing: 0.2px;
    font-size: 13px;
}

.signup-bg {
    background: url(../img/signup-register/Signup-bg.png) no-repeat center bottom 20%;
    background-size: 70%;
    background-color: #c22c49 !important;
}

.login-bg {
    background: url(../img/signup-register/login-bg.png) no-repeat center bottom 20%;
    background-size: 70%;
    background-color: #06264f !important;
}

.txt-underline {
    text-decoration: underline !important;
}

.height100vh .slider-scroll-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.wr-registerForm a {
    display: inline-block !important;
}

.dropdown-mega-content .form-row.mb-5 {
    margin-bottom: 1rem !important;
}

.dropdown-mega-content p.col.text-center.p-0 {
    margin: 0px !important;
}

.dropdown-mega-content .top-sub-title {
    font-size: 1rem !important;
}

.dropdown-mega-content h2.font-weight-bold {
    font-size: 1.8rem !important;
    margin-bottom: 35px !important;
}

#header .header-button a.btn-tertiary,
#header .header-button a.btn-primary {
    font-family: "Montserrat", sans-serif !important;
}

.registerForm-as li:nth-child(2) a {
    margin-right: 0px !important;
}

.wr-registerForm .text-danger {
    font-size: 11px;
    letter-spacing: 0.2px;
    position: absolute;
    right: 5px;
    top: 2px;
}

.alert {
    padding: 15px 20px;
    background-color: #f44336;
    color: #fff;
    opacity: 0.83;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    letter-spacing: 0.8px;
    font-size: 12px;
}

#signup .wr-registerForm .text-danger {
    top: auto;
    bottom: -30px;
}






@media (max-width:992px) {
    .footer-bg {
        background-size: 60% !important;
    }
}

@media (max-width:768px) {
    .services-img-1,
    .services-img-2 {
        height: 35vh !important;
    }

    .p-10 {
        padding: 3rem 0 !important;
    }

    .owl-carousel .owl-item div {
        margin: 0 10px;
    }

    .signup-bg,
    .login-bg {
        background-size: 80%;
        height: 100vh !important;
        padding: 3rem 2rem !important;
    }

    .wr-registerForm {
        width: 100%;
        max-width: 100%;
        margin: auto;
    }

    .height100vh .col-md-5.p-5 {
        padding: 2rem !important;
    }

    .height100vh-mobile {
        height: 100vh !important;
    }
}

@media (max-width:576px) {
    .mobile-show {
        display: block !important;
        border: none !important;
    }

    .mobile-hide {
        display: none !important;
    }

    .slider-container .tp-caption.text-center {
        letter-spacing: 0px !important;
    }

    .mobile-show .btn {
        width: 100%;
        margin: 8px 0 !important;
        text-align: center !important;
        display: block;
    }

    .footer-bg {
        background-image: none !important;
    }

    #footer .footer-copyright p {
        font-size: 0.9em;
        color: #575757;
        letter-spacing: 0.5px;
        font-weight: 500;
    }

    #footer .footer-copyright {
        background-color: #fff;
        padding: 1.5em 0;
    }

        #footer .footer-copyright .align-items-center {
            text-align: center;
        }

    .call-to-action .call-to-action-btn {
        padding: 0px;
    }

    .services-img-1, .services-img-2 {
        height: 32vh !important;
    }

    h2.font-weight-bold {
        font-size: 2rem;
    }

    .lead {
        font-weight: 400;
    }

    h3.font-weight-bold {
        font-size: 1.6rem;
    }

    .WeareProud h2.font-weight-bold {
        font-size: 1.8rem;
    }

    .WeareProud .lead {
        font-size: 1.1em;
    }

    .counters strong {
        font-size: 4.2em;
    }

    .home-download-section {
        display: none !important;
    }

    .disapamock-person {
        z-index: 50;
        top: auto;
        bottom: -12px;
    }

        .disapamock-person img {
            height: 200px !important;
        }

    .section {
        padding: 3.2rem 0;
    }

    .height100vh .col-md-5.p-5 {
        padding: 2rem 1.5rem !important;
    }

    .height100vh .position-relative h2 {
        font-size: 1.5rem !important;
    }

    .signup-bg,
    .login-bg {
        background-position: center bottom 25%;
    }

    .height100vh .slider-scroll-button {
        transform: translate(-50%, -20%) !important;
    }
}



.mfp-hide {
    z-index: -999999;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    width: 90%;
    height: 90%;
    max-height: 700px;
    max-width: 500px !important;
    padding: 0;
    overflow: auto;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    overflow: hidden;
}

.popactive.mfp-hide {
    z-index: 1041;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.pop-anim-active:before {
    content: '';
    z-index: 1040;
    overflow: hidden;
    background: #0b0b0b;
    opacity: .4;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.pop-anim-active {
    overflow: hidden;
}


.zoom-anim-dialog .header-anim-dialog {
    letter-spacing: 0.5px;
    padding: 90px 20px 20px 20px;
    font-weight: 400 !important;
    font-size: 1.5rem !important;
    text-align: center;
    color: #4f4f4f;
    background: url(../img/download/pop-download.png) no-repeat center top 5px #f5f8fd;
    background-size: 90px;
    border-bottom: 1px solid #f6f6f6;
    margin:0;
}
    .zoom-anim-dialog .header-anim-dialog a {
        display: block;
        font-size: 12px;
        color: #2388ed;
        font-weight: 400;
        margin-top: 3px;
    }

.pop-exam-list{
    max-height: 545px;
    overflow: auto;
}
.pop-exam-list .pop-exam-list-item {
    white-space: nowrap;
    border-top: 1px solid #e2e6f1;
    padding: 12px 20px;
}

    .pop-exam-list .pop-exam-list-item:nth-child(1) {
        border-top: 0px solid #e2e6f1;
    }

.pop-exam-list div p {
    display: inline-block;
    width: 60%;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 0;
    margin: 0;
}

.pop-exam-list div button {
    display: inline-block;
    width: 40%;
    margin: 0 !important;
}

    .pop-exam-list div button i {
        font-size: 14px !important;
    }

@media (min-width: 576px){
    .modal-dialog {
        max-width: 650px;
    }
}


body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.modal-backdrop.in {
  filter: alpha(opacity=80);
  opacity: .8;
}

.popup-image-gallery .modal-dialog {
  width: 100%;
}

.popup-image-gallery .modal-content {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.popup-slider-for {
  position: relative;
  min-height: 300px;
  z-index: 2;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.popup-slider-for:after {
  content: "\e030";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  z-index: -1;
  color: #fff;
  opacity: .75;
}

.popup-slider-for,
.main-image {
  text-align: center;
  margin-bottom: 0;
}

.popup-slider-for .slick-slide img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.popup-slider-nav .slick-current:after,
.popup-slider-nav .slick-current:hover:after,
.popup-slider-nav .slick-center:after,
.popup-slider-nav .slick-center:hover:after {
  background-color: transparent;
}

.pagingInfo {
    color: #fff;
    text-align: center;
    margin: 5px 0 0 0;
    font-size: 12px;
    letter-spacing: 1px;
}

.popup-slider-for .slick-next,
.popup-slider-for .slick-prev {
  width: auto;
  height: auto;
  z-index: 1;
}

.popup-slider-for .slick-prev {
  left: -40px;
}

    .popup-slider-for .slick-prev:before,
    .popup-slider-for .slick-next:before,
    .popup-slider-for:after {
        font-family: 'Font Awesome 5 Free';
        position: relative;
        left: 2px;
        top: 1px;
        font-weight: 900;
        content: '';
    }

    .popup-slider-for .slick-prev:before {
        content: '\f053';
    }

.popup-slider-for .slick-next:before {
    content: '\f054';
}

.popup-slider-for .slick-next {
  right: -40px;
}

.popup-image-gallery .close-icon {
  top: 0;
}

.slick-slide {
  outline: 0;
}

.close-btn {
  background-color: transparent;
  color: #fff;
  position: absolute;
  right: 30px;
  z-index: 3;
  font-size: 24px;
  margin: 0;
  opacity: .75;
}

.close-btn:hover,
.close-btn:focus {
  color: #fff;
  opacity: 10;
}

@media (max-width: 767px) {
  .popup-image-gallery .modal-body {
    padding: 0;
  }
  .popup-image-gallery .modal-dialog {
    margin-top: 20px;
  }
  .popup-image-gallery .close-icon {
    top: -20px;
  }
  .popup-slider-for .slick-prev {
    left: 12px;
  }
  .popup-slider-for .slick-next {
    right: 12px;
  }
}