/*------------------------------------------------------------------

------------------------------------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-push-11 {
    left: 91.66666667%;
}

.col-xs-push-10 {
    left: 83.33333333%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-8 {
    left: 66.66666667%;
}

.col-xs-push-7 {
    left: 58.33333333%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-5 {
    left: 41.66666667%;
}

.col-xs-push-4 {
    left: 33.33333333%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-2 {
    left: 16.66666667%;
}

.col-xs-push-1 {
    left: 8.33333333%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0%;
}

@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    .col-sm-pull-12 {
        right: 100%;
    }

    .col-sm-pull-11 {
        right: 91.66666667%;
    }

    .col-sm-pull-10 {
        right: 83.33333333%;
    }

    .col-sm-pull-9 {
        right: 75%;
    }

    .col-sm-pull-8 {
        right: 66.66666667%;
    }

    .col-sm-pull-7 {
        right: 58.33333333%;
    }

    .col-sm-pull-6 {
        right: 50%;
    }

    .col-sm-pull-5 {
        right: 41.66666667%;
    }

    .col-sm-pull-4 {
        right: 33.33333333%;
    }

    .col-sm-pull-3 {
        right: 25%;
    }

    .col-sm-pull-2 {
        right: 16.66666667%;
    }

    .col-sm-pull-1 {
        right: 8.33333333%;
    }

    .col-sm-pull-0 {
        right: auto;
    }

    .col-sm-push-12 {
        left: 100%;
    }

    .col-sm-push-11 {
        left: 91.66666667%;
    }

    .col-sm-push-10 {
        left: 83.33333333%;
    }

    .col-sm-push-9 {
        left: 75%;
    }

    .col-sm-push-8 {
        left: 66.66666667%;
    }

    .col-sm-push-7 {
        left: 58.33333333%;
    }

    .col-sm-push-6 {
        left: 50%;
    }

    .col-sm-push-5 {
        left: 41.66666667%;
    }

    .col-sm-push-4 {
        left: 33.33333333%;
    }

    .col-sm-push-3 {
        left: 25%;
    }

    .col-sm-push-2 {
        left: 16.66666667%;
    }

    .col-sm-push-1 {
        left: 8.33333333%;
    }

    .col-sm-push-0 {
        left: auto;
    }

    .col-sm-offset-12 {
        margin-left: 100%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-sm-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-pull-12 {
        right: 100%;
    }

    .col-md-pull-11 {
        right: 91.66666667%;
    }

    .col-md-pull-10 {
        right: 83.33333333%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-8 {
        right: 66.66666667%;
    }

    .col-md-pull-7 {
        right: 58.33333333%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-5 {
        right: 41.66666667%;
    }

    .col-md-pull-4 {
        right: 33.33333333%;
    }

    .col-md-pull-3 {
        right: 25%;
    }

    .col-md-pull-2 {
        right: 16.66666667%;
    }

    .col-md-pull-1 {
        right: 8.33333333%;
    }

    .col-md-pull-0 {
        right: auto;
    }

    .col-md-push-12 {
        left: 100%;
    }

    .col-md-push-11 {
        left: 91.66666667%;
    }

    .col-md-push-10 {
        left: 83.33333333%;
    }

    .col-md-push-9 {
        left: 75%;
    }

    .col-md-push-8 {
        left: 66.66666667%;
    }

    .col-md-push-7 {
        left: 58.33333333%;
    }

    .col-md-push-6 {
        left: 50%;
    }

    .col-md-push-5 {
        left: 41.66666667%;
    }

    .col-md-push-4 {
        left: 33.33333333%;
    }

    .col-md-push-3 {
        left: 25%;
    }

    .col-md-push-2 {
        left: 16.66666667%;
    }

    .col-md-push-1 {
        left: 8.33333333%;
    }

    .col-md-push-0 {
        left: auto;
    }

    .col-md-offset-12 {
        margin-left: 100%;
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-md-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-pull-11 {
        right: 91.66666667%;
    }

    .col-lg-pull-10 {
        right: 83.33333333%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-8 {
        right: 66.66666667%;
    }

    .col-lg-pull-7 {
        right: 58.33333333%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-5 {
        right: 41.66666667%;
    }

    .col-lg-pull-4 {
        right: 33.33333333%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-2 {
        right: 16.66666667%;
    }

    .col-lg-pull-1 {
        right: 8.33333333%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-push-12 {
        left: 100%;
    }

    .col-lg-push-11 {
        left: 91.66666667%;
    }

    .col-lg-push-10 {
        left: 83.33333333%;
    }

    .col-lg-push-9 {
        left: 75%;
    }

    .col-lg-push-8 {
        left: 66.66666667%;
    }

    .col-lg-push-7 {
        left: 58.33333333%;
    }

    .col-lg-push-6 {
        left: 50%;
    }

    .col-lg-push-5 {
        left: 41.66666667%;
    }

    .col-lg-push-4 {
        left: 33.33333333%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push-2 {
        left: 16.66666667%;
    }

    .col-lg-push-1 {
        left: 8.33333333%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-lg-offset-0 {
        margin-left: 0%;
    }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
    clear: both;
}


/** Base Body Styles **/
body {
    background-color: #fff;
    background-size: cover;
    font-size: 12px;
    text-align: left;
    margin: 0;
    padding: 0;
    color: #444;
    line-height: 18px;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif !important;
        background: url(../Images/signin/login-bg.png) no-repeat center left;
    height: 100vh;
    background-size: cover;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Poppins', sans-serif !important;
}


.account-container {
    width: 100%;
    max-width: 450px;
    display: block;
    margin: auto;
    background: #fff;
    /*border: 1px solid #eaeaea;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*box-shadow: 0 0 8px rgba(74, 75, 169, 0.15);*/
}

.content {
    padding: 16px 28px 23px;
}

.login-fields {
}

    .login-fields .field {
        margin-bottom: 1.25em;
    }

    .login-fields label {
        display: none;
    }

    .login-fields input {
        font-family: 'Poppins', sans-serif !important;
        font-size: 13px !important;
        color: #000000;
        padding: 11px 15px 10px 50px;
        background-color: #fdfdfd;
        width: 100%;
        display: block;
        margin: 0;
        box-shadow: inset 2px 2px 4px #f1f1f1;
        letter-spacing: 0.2px;
        height: 40px;
    }

.username-field {
    background: url(../Images/signin/user.png) no-repeat;
}

.password-field {
    background: url(../Images/signin/password.png) no-repeat;
}

.location-field {
    background: url(../Images/signin/user.png) no-repeat;
}



.login-actions {
    width: 100%;
    margin: 0 0 25px 0;
}

    .login-actions .login-btn {
        width: 100%;
        display: inline-block;
        padding: 10px;
        margin: 14px 0 0 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
        transition: all 0.5s ease;
    }

        .login-actions .login-btn:hover {
            color: #fff;
            background-color: #286090;
            border-color: #204d74;
        }

.login-social {
    float: left;
    padding: 10px 0 15px;
    border: 1px dotted #CCC;
    border-right: none;
    border-left: none;
}

span.login-checkbox {
    float: left;
    margin-top: 31px;
}

    span.login-checkbox > input[type='checkbox'] {
        opacity: 0;
        float: left;
        width: 15px;
    }

        span.login-checkbox > input[type='checkbox'] + label {
            clear: none;
            height: 15px;
            display: block;
            padding: 0 0 0 22px;
            margin: 0;
            font-size: 12px;
            line-height: 1.2em;
            background: url(../Images/signin/check.png) no-repeat 0 0;
            cursor: pointer;
        }

        span.login-checkbox > input[type='checkbox']:checked + label {
            background-position: 0 -15px;
        }

/** Text Under Box**/
.login-extra {
    display: block;
    width: 300px;
    margin: 1.5em auto;
    text-align: left;
    line-height: 19px;
    text-shadow: 1px 1px 0px #fff;
}


.account-container h1 {
    margin-bottom: .4em;
    color: #525252;
}

/** Buttons **/
.twitter, .fb {
    position: relative;
    height: 32px;
    width: 157px;
    display: block;
    background: url(../Images/signin/twitter_btn.png) no-repeat;
}

.fb {
    width: 162px;
    background: url(../Images/signin/fb_btn.png) no-repeat;
}

    .twitter:active, .fb:active {
        top: 1px;
    }

    .twitter:hover, .fb:hover {
        background-position: 0 -32px;
    }

    .twitter a, .fb a {
        padding: 5px 0 0 35px;
        text-shadow: -1px -1px 0px rgba(0,0,0,.3);
        color: #fff;
        font-weight: bold;
        font-size: 11px;
        height: 32px;
        display: block;
    }

    .fb a {
        padding: 5px 0 0 31px;
    }

.twitter, .fb {
    display: inline-block;
}

    .twitter a:hover, .fb a:hover {
        color: #FFF;
        text-decoration: none;
    }

.button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    float: right;
    margin-top: 18px;
}






.register .login-social {
    margin-bottom: 1em;
}

.register .login-actions {
    margin-bottom: 0;
}

.register .login-fields input {
    width: 299px;
    padding-left: 6px;
}

.register h1 {
    color: #444;
}

.register span.login-checkbox {
    position: relative;
    top: -6px;
    width: 200px;
}

    .register span.login-checkbox > input[type="checkbox"] + label {
        position: relative;
        line-height: 1.3em;
    }

.companyCmb {
    font-family: 'Poppins', sans-serif !important;
    font-size: 13px;
    color: #8e8d8d;
    padding: 0px 0px 0px 39px;
    background-color: #fdfdfd;
    width: 100%;
    display: block;
    height: 40px;
    margin: 0;
    box-shadow: inset 2px 2px 4px #f1f1f1;
    background: url(../Images/signin/location.png) no-repeat;
    border-radius: 2px;
    border: 1px solid #cccccc;
}

    .companyCmb td {
        padding: 0px !important;
        background: none;
        border: none;
    }

    .companyCmb input {
        padding: 10px 0 9px 12px !important;
        font-size: 12px !important;
        height: auto;
    }


.container-fluid.logo {
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0;
}

    .container-fluid.logo img {
        height: 100px;
        width: auto;
    }

.login-center {
    width: 100%;
    min-height: 95vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.txt-forgot-password {
    text-align: right;
}

.login-footer {
    text-align: right;
}

    .login-footer img {
        width: auto;
        height: 35px;
    }

.login-welcome {
    text-align: center;
    padding: 0;
    margin: 0 0 20px 0;
}

    .login-welcome span {
        color: #2684b4 !important;
        font-size: 18px;
        text-align: center;
        font-weight: 400;
    }

.companyCmb td.dxeButton img {
    width: 20px;
    text-align: center;
    background-position: -99px -137px;
}

.login-right {

}

.login-logo {
    background-image: url(../Images/logo.png);
    width: 190px;
    height: 55px;
    background-repeat: no-repeat;
    position: absolute;
    top: 70px;
    left: 50px;
    background-size: 150px;
    z-index:99;
}
.login-logo-text {
    position: absolute;
    top: 135px;
    left: 50px;
    color: #09046b;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    z-index: 99;
    font-weight: 300;
}
    .login-logo-text b {
        font-weight: 600;
    }


    .login-left::after {
    content: "";
    background-image: url(../Images/login-bg-left.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    width: 120%;
    height: 100vh;
    z-index: -1;
    position: absolute;
    left: -10%;
    overflow: hidden;
    top: 0;
}



@media (max-width: 480px) {
    .account-container {
        margin-top: 35px;
    }

    .login-social {
        width: 100%;
    }

    .twitter {
        display: block;
        margin-bottom: 1em;
    }

    .register .login-fields input {
        width: 204px;
        padding-left: 6px;
    }
}
/******************* 768px **********************/
@media (max-width:991px) {
    body {
        background: url(../Images/signin/login-bg.jpg) no-repeat center left;
        height: 100vh;
        background-size: cover;
        overflow-y: scroll;
    }
    .login-logo-text {
        width: auto;
    }

    .login-logo,
    .login-logo-text {
        position: relative;
        top: auto;
        left: auto;
        text-align: center;
        background-position: center;
        width: 100%;
        margin-top: 10px;
        line-height: 1.2;
    }
    .login-right,
    .login-left::after{
        display:none !important;
    }
    .login-center {
        padding: 20px 15px 15px 15px;
        min-height: initial;
    }
    .row{
        margin:0 !important;
    }
    .col-md-6{
        padding:0 !important;
    }
}



